html {
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 20px;
}
body {
    margin: 0;
}
body.home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}
.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ownerName {
    font-size: 50px;
    display: block;
    color: #3c95e4;
    padding: 0;
}
h2, h3, h4 {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
}
p {
    margin: 0;
    padding: 0;
}
#mainControls {
    margin: 0;
}
#mainContent {padding: 10px; margin: 30px auto 0;}
.disclaimer {
    text-align: center;
    padding: 20px 0 0 0;
}
#reviewForm, #selectReviewsForm {
    text-align: center;
}
#reviewForm input, #selectReviewsForm input {
    color: #fff;
}
.reviewBox {
    margin: 0 0 40px 0;
    background-color: rgba(165, 213, 255, .1);
    box-shadow: 3px 3px rgba(0, 0, 0, .05);
    padding: 20px 20px 20px 40px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}
.reviewNumber {
    display: block;
    position: absolute;
    background-color: #bde0ff;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
    top: -10px;
    left: -5px;
    font-size: 25px;
    font-weight: bold;
}
.reviewRating {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    padding: 0 8px 10px 0;
}
.reviewRating.fa {
    font-size: 25px;
}
.reviewBox h3 {
    padding: 0 0 10px 0;
}
.reviewBox h4 {
    padding: 0 0 10px 0;
}
.reviewDate {
    font-size: 14px;
}
#reviewForm input, #selectReviewsForm input {
    margin: 0 30px 0 0;
    top: 2px;
    position: relative;
    display: inline-block;
}
#reviewForm #reviewsSubmit {
    display: block;
    margin: 10px auto 0;
}
#selectReviewsForm #reviewsSubmit {
    margin: 30px auto 0;
}
.formBox {
    margin: 0 0 10px 0;
}
.formBox3, .formBox4, .formBox5 {
    display: inline-block;
    vertical-align: middle;
}
#reviewsSubmit {
    display: block;
    color: #fff;
    border: none;
    background-color: #95c5f0;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    max-width: 90px;
    text-align: center;
    margin: 20px auto 0;
}
#reviewsSubmit:hover {
    cursor: pointer;
    background-color: #a5d5ff;
}
.backToHome {
    color: #fff;
    border: none;
    display: block;
    background-color: #95c5f0;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
    max-width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto 0;
}
.backToHome:hover {
    cursor: pointer;
    background-color: #a5d5ff;
}
@media screen and (min-width: 500px) {
    #reviewForm #reviewsSubmit, #selectReviewsForm #reviewsSubmit {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .formBox3, .formBox4, .formBox5 {
        margin: 0;
    }
}
@media screen and (min-width: 600px) {
    #mainContent {
        display: flex;
        flex-wrap: wrap;
    }
    .reviewBox {
        width: calc(50% - 20px);
        margin: 0 10px 20px;
    }
}
@media screen and (min-width: 800px) {
    .reviewBox {
        width: calc(33% - 18px);
    }
}
@media screen and (min-width: 1000px) {
    .formBox1, .formBox2 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .backToHome {
        margin: 20px auto 0;
    }
}
.checked {
    color: #ffb100;
}